body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu ul{
    list-style-type: none;
    margin-bottom: 0;
}

#menu ul li{
    display: inline-block;
    padding: 0 1rem;
}

#menu ul li a{
    color: white;
}

#sidebar ul{
    list-style-type: none;
    margin-bottom: 0;
}

#sidebar ul li a{
    color: white;
}